* {
    font-family: Calibri;
}

.navbar {
    background-color: #00205b;
}
.navbar-default a, .navbar-default h3 {
    color: white !important;
}

.center {
    width: 70%; 
    margin: 0 auto;
    border: 1px #ccc solid;
    border-radius: 2em;
}

.center h3 {
    padding-left: 20px;
}
.center form {
    padding: 20px;
}

.facebook-banner {
    background-color: #f6f6f6;
    color: #00205b;
    font-size: 26px;
    text-align: center;
    padding: 10px 10px;
    margin-top: 20px;
}

.facebook-div {
    width: 45%; 
    margin: 0 auto;
    margin-top: 20px;
    z-index: 1000;
}

.fb-login-button {
    z-index: 900;
}

.posts {
    border: 1px #ccc solid;
}

.fa-button {
    background: #3B5998;
    color: white;
}