<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Amadeus Airlines</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Book</a></li>
                <li><a href="#">Explore</a></li>
            </ul>
        </div>
    </nav>
    <div class="center">
        <h3>Flights</h3>
        <form class="form">
            <div class="form-group">
            <input type="text" class="form-control" id="from" value="Where from?">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="to" value="Where to?">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form> 
    </div>
    <div *ngIf="!isLoggedIn">
        <div class="facebook-banner">
                Let's connect with Facebook and see where our friends are travelling.
        </div>
        <div class="facebook-div">
            <button class="fa-button" (click)="login()">Connect with Facebook</button>
        </div>
    </div>
    <div class="posts" *ngIf="isLoggedIn" (click)="getPosts()">
        <h3>Click here to see where your friends are travelling</h3>
       <ul>
            <li *ngFor="let userPost of userPosts"> 
                {{ userPost }}
            </li>
        </ul>
    </div>
</div>