<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-2 link link-bootstrap"><a class="link" routerLink="home">Couchbase and Bootstrap</a></div>
    <div class="col-xs-2 link link-mat"><a class="link" routerLink="home-mat">Angular material components</a></div>
    <div class="col-xs-2 link link-dapi"><a class="link" routerLink="dapi-demo/NCE/CDG">DxAPI Demo</a></div>
    <div class="col-xs-2 link link-mongo"><a class="link" routerLink="mongo-demo">MongoLab Demo</a></div>
    <div class="col-xs-2 link link-mongo"><a class="link" routerLink="app-facebook">Facebook</a></div>
  </div>

  <router-outlet></router-outlet>
</div>
